.contact-us{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.contact-us .content{
    display: flex;
    justify-content: space-between;
}
.contact-us .content form{
flex-basis: 70%;

}
.contact-us .content form .main-input{
width: 100%;
/* display: block; */
border: 1px solid #ccc;
padding: 20px;
margin-bottom: 30px;


}
.contact-us .content form .main-input:focus{
outline: none;
}
.contact-us .content form textarea.main-input{
height: 200px;
}
.contact-us .content form input[type="submit"]{
background-color: var(--main-color1);
padding: 20px;
border: none;
display: flex;
margin: auto;
color: white;
cursor: pointer;
text-transform: uppercase;

}
.contact-us .content .info{
    flex-basis: 25%;
}
.contact-us .content .info h4{
text-transform: uppercase;
margin-bottom: 30px;
font-weight: 500;
font-size: 20px;
}
.contact-us .content .info .phone{
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact-us .content .info h4:nth-of-type(2){
    margin-top: 100px;
}
.contact-us .content .info address{
    color: #777;
    line-height: 1.8;
}
@media (max-width:767px){
    .contact-us .content{
        display: flex;
        flex-direction: column;
    }
    .contact-us .info{
        display: flex;
        flex-direction: column;
    }
}